body {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 10rem;
}
body > * {
    margin-bottom:1.5rem !important;
    font-family: "Comfortaa", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.togglewapper {
    height: min-content;
    width: fit-content;
    border-radius: 5px;
    padding: 0.2rem;
    flex-direction: row;
    align-self: center;
    margin:auto;
    border: 1.8px solid black;
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
}
input {
    display: flex;
    height: calc(1em + 7px);
    padding:5px;
    width: 10ch;
    border-color:black;
    border-radius: 5px;
    font-family: "Comfortaa", sans-serif;
    font-size:1.2em;
}
label {
    margin-bottom: 12px; /* Added for spacing between label and input */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
h1{
    font-size: 3em;
    font-weight: bold;
}

.bigbutt{
    border: 0.5rem solid black;
    font-size: 2.3rem;
    border-radius: 0.5rem;
    height: min-content;
    width: fit-content;
    margin:auto;
    padding:10px 20px;
    font-family: "Comfortaa", sans-serif;
    cursor: pointer;
}
#result{
    max-width:80vw;
    font-size:2.2rem;
    cursor:unset;
    padding:10px;
    border-width: 1.6px;
    display:none;
}
.show{
    display:block !important;
}
.wappon, .wappoff:hover, .wappoff:active, input{
    background-color: white !important;
    color:black !important;
    transition: all 450ms;
}
/*wappon & wappoff should be switched for all purposes*/
.wappoff, .wappon:hover, .wappon:active{
    background-color: black !important;
    color:white !important;
    transition: all 450ms;
}
.wappoffy{
    background-color: black !important;
    color:white !important;
}
.fade{
    transition: all 1s;
}
#link{
    margin-bottom: 1.5rem !important;
}